@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Source+Sans+Pro:wght@300&display=swap');

/* html selectors */
nav a {
    text-align: center;
    color: #aacfb2;
    text-decoration: none;
}

h2 {
    margin: 0;
}

h4 {
    color: #aacfb2;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

header {
    background-color: #354f52;
}

body {
    background-color: #354f52;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #354f52;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer h3 {
    color: #aacfb2;
}

footer a {
    color: #aacfb2;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    color: #2f3e46;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

footer h3 a:hover {
    text-decoration: underline;
}

main h2 {
    color: #aacfb2
}

/*class selectors */

.home-title {
    color: #aacfb2;
    font-family: Mochiy Pop P One, Tahoma;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join{
    background-color: #84a98c;
    color: #2f3e46;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: #aacfb2;
    color: #2f3e46;
}

.msg {
    background-color: #354f52;
    padding: 35px;
}

.msg h2 {
    color: #aacfb2;
}

.msg p {
    color: #aacfb2;
    font-size: .8em;
    padding-bottom: 15px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.button-box {
    text-align: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #2f3e46;
}




/*id selectors*/
#content {
    border: 1px solid black;
    max-width: 1600px;
    margin: 0 auto;
}



#hero-msg h1, #hero-msg h4{
    text-align: center;
}


#background {
    height:  725px;
}


nav a:hover{
    background-color: #aacfb2;
    color: #2f3e46;
}

#background {
    background-color: #354f52;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

